* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to right, #e31dc9, #f98ad84a);
  color: #fff;
  font-size: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
header {
  padding: 20px;
  margin-top: 200px;
}
.links-container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.links-container a{
  color: black;
}